*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    background-color: #D9D9D9;
}

.clear{
    clear: both;
}

/* Head da página */

.header{
    width: 100%;
    min-width: 1280px;
    height: 100px;
    background-color: #BB2020;
}

.logotipo{
    width: 150px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

a.nav-bar{
    color: #D9D9D9;
    font-size: 40px;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    text-decoration: none;
}

a.nav-bar:hover{
    transition: 0.5s;
    background-color: #941818;
    border-radius: 10%;
}

/* Corpo */

.article{
    width: 100%;
    min-width: 1280px;
}

#foto{
    display: inline-block;
    width: 200px;
    border: 5px solid #003F63;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
}

.texto1{
    background-color: #BEC7C7;
    width: 800px;
    margin: 10px auto;
    font-size: 40px;
    color: #353D40;
    text-align: center;
    padding: 10px;
}

.texto1 a{
    text-decoration: none;
    color: #848d8d;
    transition: 0.5s;
    border-radius: 10%;
}

.texto1 a:hover{
    background-color: #F2B138;
}

#habilidades{
    background-color: #BEC7C7;
    width: 800px;
    margin: 10px auto;
    color: #353D40;
    text-align: center;
    padding: 10px;
    font-size: 30px;

}

#habilidades img{
   height: 100px;
   margin: 10px auto;
   
}

#blog{
    background-color: #BEC7C7;
    width: 800px;
    margin: 10px auto;
    color: #353D40;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

#blog a{
    text-decoration: none;
    color: #848d8d;
    transition: 0.5s;
    border-radius: 10%;
}

#blog a:hover{
    background-color: #F2B138;
}